<h2 id="contato">Contato</h2>
<div class="horario">
    <h3>horários</h3>
    <p>Segunda-Feira<br>14:00 ás 20:30</p>
    <p>Terça-Feira<br>09:30 ás 12:00 e 14:00 ás 20:30</p>
    <p>Quarta-Feira<br>09:30 ás 12:00 e 14:00 ás 20:30</p>
    <p>Quinta-Feira<br>09:30 ás 12:00 e 14:00 ás 20:30</p>
    <p>Sexta-Feira<br>09:30 ás 12:00 e 14:00 ás 20:30</p>
    <p>Sábado<br>09:30 ás 12:00 e 14:00 ás 19:00</p>
</div>
<span class="contact">
    <span class="information">Endereço:<br>Email:</span>
    <span class="info">Avenida Zero Hora , 1427 Jardim Algarve - Alvorada/RS<br>
        phelippcomunelli@gmail.com</span>
</span>
<div class="buttons">
<a href="https://api.whatsapp.com/send?phone=5551984615695&text=Ol%C3%A1%2C%20vim%20atrav%C3%A9s%20do%20seu%20site%20agendar%20um%20hor%C3%A1rio.%20%20" target="_blank">
    <button class="whatsapp">whatsapp</button>
</a>
<a href="https://www.instagram.com/studio.alphahair/" target="_blank">
    <button class="instagram">instagram</button>
</a>
</div>