<header class="menu-bg">
  <div class="menu">
    <div class="logo-menu">
      <a href="#"
      ><img
      src="../../../assets/Img/LogoStudioAlpha.png"
      alt="Logo Studio Alpha"
      /></a>
      <app-material class="responsive"></app-material>
    </div>
    <nav class="menu-navbar">
      <ul id="nav-list">
        <li><a href="#Agendamento">Agendamento</a></li>
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#servicos">Serviços</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>
