<div class="all" id="Agendamento">
  <div>
    <h2 class="titulo">phelippe</h2>
    <div class="description">
      <p>
        Barbeiro há mais de quatro anos, iniciou sua carreira como colaborador
        <br />
        em outra empresa, possui em sua trajetória diversos cursos e workshops
        <br />
        com os mais renomados barbeiros da atualidade visando evolução <br />
        e atendimento diferenciado ao seu cliente.
      </p>
    </div>
    <div class="white-bar"><p></p></div>
    <a
      href="https://sistema.appbarber.com.br/reserva-appbarber/?token=1f02b4fa290ee602183fb9790f1d9135"
      target="_blank"
    >
      <button class="phelippe-button">Agende com phelippe</button>
    </a>
  </div>

  <div>
    <div>
      <div class="white-bar2">TEATSGSJS</div>
      <img class="phelippe" src="../../../assets/Img/phelippe2.jpeg" alt="barber" />
      <img
        class="corte-phelippe"
        src="assets/Design/IMG_6043.JPG"
        alt="phelippe corte"
      />
    </div>
  </div>
</div>
