<button class="menuzi" mat-button [matMenuTriggerFor]="menu">
  <img class="menu" src="../../../../assets/barbeiro.png">
</button>
<mat-menu #menu="matMenu" style="background-color: black;">
  <a href="#Agendamento"><button mat-menu-item><p class="texto">Agendamento</p></button></a>
  <a href="#sobre"><button mat-menu-item><p class="texto">Sobre</p></button></a>
  <a href="#servicos"><button mat-menu-item><p class="texto">Serviços</p></button></a>
  <a href="#contato"><button mat-menu-item><p class="texto">Contato</p></button></a>
</mat-menu>