<h2 class="title" id="servicos">Serviços</h2>
<div class="photos">
    <img src="assets/Design/IMG_6042.JPG">
    <img src="assets/Design/IMG_6035.JPG">
    <img src="assets/Design/IMG_6085.JPG">
</div>
<div class="phelippe-responsive"><img src="assets/Design/IMG_6035.JPG"></div>
<hr class="white-block">
<div class="prices">
    <span class="left"><p>Acabamento<br>R$ 10,00</p></span>
    <span class="center"><p>Corte Alpha Express<br>R$ 20,00</p></span>
    <span class="right"><p>Corte Alpha<br>R$ 25,00</p></span>
</div>

<div class="photos2">
    <img src="assets/Design/IMG_6038.JPG">
    <img src="assets/Design/IMG_6082.JPG">
    <img src="assets/Design/IMG_6085.JPG">
</div>

<hr class="white-block2">
<div class="prices2">
    <span class="left2"><p>Barba Express<br>R$ 20,00</p></span>
    <span class="center2"><p>Barba<br>R$ 25,00</p></span>
    <span class="right2"><p>Cabelo e Sobrancelha<br>R$ 30,00</p></span>
</div>

<div class="photos3">
    <img src="assets/Design/IMG_6038.JPG">
    <img src="assets/Design/IMG_6085.JPG">
</div>
<hr class="white-block3">
<div class="prices3">
    <span class="left3"><p>Cabelo e Barba<br>R$ 45,00</p></span>
    <span class="right3"><p>Cabelo, Barba e Sobrancelha<br>R$ 50,00</p></span>
</div>
<ul class="ul-responsive">
    <li><p>Acabamento<br>R$ 10,00</p></li>
    <li><p>Corte Alpha Express<br>R$ 20,00</p></li>
    <li><p>Corte Alpha<br>R$ 25,00</p></li>
    <li><p>Barba Express<br>R$ 20,00</p></li>
    <li><p>Barba<br>R$ 25,00</p></li>
    <li><p>Cabelo e Sobrancelha<br>R$ 30,00</p></li>
    <li><p>Cabelo e Barba<br>R$ 45,00</p></li>
    <li><p>Cabelo, Barba e Sobrancelha<br>R$ 50,00</p></li>
</ul>